@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  font-family: 'Orbitron', sans-serif;
  background-color: black;
  color: white;
}

.spline {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 50%;
  width: 60%;
  margin: 0 auto; /* Center horizontally within its container */
}

h1 {
  font-size: 4rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh; /* Optional: only if you want to center vertically in the whole viewport */
}

p {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 1rem 0; /* Add some margin to separate paragraphs */
}

.separateMe{
  margin-top: 20px;
}

@media (max-width: 600px) {
  .spline {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 250px;
    width: 100%;
    margin: 0 auto; /* Center horizontally within its container */
  }
}