@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  font-family: 'Orbitron', sans-serif;
  background-color: black;
  color: white;
}

h1 {
  font-size: 4rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh; /* Optional: only if you want to center vertically in the whole viewport */
}

p {
  font-size: 1.5rem;
  font-family: 'Roboto';
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 13vh; /* Optional: only if you want to center vertically in the whole viewport */
}