@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  font-family: 'Orbitron', sans-serif;
  background-color: black;
  color: white;
}

h1 {
  font-size: 4rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh; /* Optional: only if you want to center vertically in the whole viewport */
}

h2 {
  font-size: 1.3rem;
  font-family: "Lucida Console", monospace;
}

p {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 1rem 0; /* Add some margin to separate paragraphs */
}

.separateMe{
  margin-top: 20px;
}

.isoDate{
  font-size: 1rem;
  font-family: 'Lucida Console', monospace;
  text-align: center;
  margin: 1rem 0; /* Add some margin to separate paragraphs */
}

.spacer{
  margin-top: 100px
}

@media (max-width: 600px) {

}